<div class="grid-container">
  <div class="grid-50">
    <h1 id="edit-your-account">Edit Your Account Info</h1>
    <%= render 'users/form' %>
  </div>

  <div class="grid-50">
    <h1 id="edit-your-account">Your Addresses</h1>
    <% @addresses.each do |a| %>
      <%= render partial: "addresses/edit_address", locals: {:address => a} %>
    <% end %>
  </div>

  <div class="grid-100">
    <%= render 'orders/order_history' %>
  </div>
</div>


<% content_for :title do %>
  Your Account
<% end %>
