<tr>
  <td class="table-header-item">Title</td>
  <td class="table-header-item">Description</td>
  <td class="table-header-item">Price</td>
  <td class="table-header-item">Quantity</td>
  <td class="table-header-item">Subtotal</td>
  <td class="table-header-item">Remove?</td>
</tr>