<div class="grid-33">
  <%= link_to image_tag("http://placekitten.com/300/300", :border => 0, :alt => 'Placekitten!'), restaurant_root_path(restaurant) %>
  <h1><%= link_to restaurant.name, restaurant_root_path(restaurant) %></h1>
  <p><%= restaurant.description %><p>
</div>
