<section id="shop_more" class="grid-container" id="address-container">
  <ul>
    <%= render @address %>
  </ul>

  <br/>

  <div class="grid-100">

    <p>Enter a new address:</p>

  </div>

  <div class="grid-100">
    <%= render "addresses/address_form" %>
  </div>
</section>

