<header id="body-header" class="grid-container">

  <div class="grid-100" id="restaurant-logo">
    <h2 id="restaurant-title"><%= @restaurant.name %></h2><%# restaurant.logo_image image_tag 'logo-ono.gif', id:"logo-image" %>
  </div>

  <div id="menu-greeting" class="grid-100">
    <h3>On the Menu</h3>
  </div>

</header>
