<%= render 'header' %>

<section class="grid-container menu-view">
  <% if items_in_cart? %>
    <%= render 'layouts/view_order_link' %>
  <% end %>
  <%= render partial: 'items/item', collection: @items %>
</section>
